
<div class="container">
  <span class="label"> What Our Customers Are Saying </span>
  <h2>
    Words from your table —
    <span> Testimonials </span>
  </h2>
</div>
<div class="container --full">
  <div class="slider">
    <div>
      <div class="slide">
        <div class="stars">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
            <path
              d="M9.70703 35.0002L12.4154 23.2918L3.33203 15.4168L15.332 14.3752L19.9987 3.3335L24.6654 14.3752L36.6654 15.4168L27.582 23.2918L30.2904 35.0002L19.9987 28.7918L9.70703 35.0002Z"
              fill="#FDB72A" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
            <path
              d="M9.70703 35.0002L12.4154 23.2918L3.33203 15.4168L15.332 14.3752L19.9987 3.3335L24.6654 14.3752L36.6654 15.4168L27.582 23.2918L30.2904 35.0002L19.9987 28.7918L9.70703 35.0002Z"
              fill="#FDB72A" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
            <path
              d="M9.70703 35.0002L12.4154 23.2918L3.33203 15.4168L15.332 14.3752L19.9987 3.3335L24.6654 14.3752L36.6654 15.4168L27.582 23.2918L30.2904 35.0002L19.9987 28.7918L9.70703 35.0002Z"
              fill="#FDB72A" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
            <path
              d="M9.70703 35.0002L12.4154 23.2918L3.33203 15.4168L15.332 14.3752L19.9987 3.3335L24.6654 14.3752L36.6654 15.4168L27.582 23.2918L30.2904 35.0002L19.9987 28.7918L9.70703 35.0002Z"
              fill="#FDB72A" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
            <path
              d="M9.70703 35.0002L12.4154 23.2918L3.33203 15.4168L15.332 14.3752L19.9987 3.3335L24.6654 14.3752L36.6654 15.4168L27.582 23.2918L30.2904 35.0002L19.9987 28.7918L9.70703 35.0002Z"
              fill="#FDB72A" />
          </svg>
        </div>
        <p>
          "Love this - best plate ever!"
        </p>
        <div class="user">
          <img src="{{ 'testimonial-user.svg' | asset_url }}" alt="">
          <div>
            <span> HARPREET BIRDI </span>
            <span>
              From <br>
              London UK
            </span>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="slide">
        <div class="stars">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
            <path
              d="M9.70703 35.0002L12.4154 23.2918L3.33203 15.4168L15.332 14.3752L19.9987 3.3335L24.6654 14.3752L36.6654 15.4168L27.582 23.2918L30.2904 35.0002L19.9987 28.7918L9.70703 35.0002Z"
              fill="#FDB72A" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
            <path
              d="M9.70703 35.0002L12.4154 23.2918L3.33203 15.4168L15.332 14.3752L19.9987 3.3335L24.6654 14.3752L36.6654 15.4168L27.582 23.2918L30.2904 35.0002L19.9987 28.7918L9.70703 35.0002Z"
              fill="#FDB72A" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
            <path
              d="M9.70703 35.0002L12.4154 23.2918L3.33203 15.4168L15.332 14.3752L19.9987 3.3335L24.6654 14.3752L36.6654 15.4168L27.582 23.2918L30.2904 35.0002L19.9987 28.7918L9.70703 35.0002Z"
              fill="#FDB72A" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
            <path
              d="M9.70703 35.0002L12.4154 23.2918L3.33203 15.4168L15.332 14.3752L19.9987 3.3335L24.6654 14.3752L36.6654 15.4168L27.582 23.2918L30.2904 35.0002L19.9987 28.7918L9.70703 35.0002Z"
              fill="#FDB72A" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
            <path
              d="M9.70703 35.0002L12.4154 23.2918L3.33203 15.4168L15.332 14.3752L19.9987 3.3335L24.6654 14.3752L36.6654 15.4168L27.582 23.2918L30.2904 35.0002L19.9987 28.7918L9.70703 35.0002Z"
              fill="#FDB72A" />
          </svg>
        </div>
        <p>
          "Never knew how much I needed a Feenie plate!"
        </p>
        <div class="user">
          <img src="{{ 'testimonial-user.svg' | asset_url }}" alt="">
          <div>
            <span> ARUN SANDHU </span>
            <span>
              From <br>
              London UK
            </span>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="slide">
        <div class="stars">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
            <path
              d="M9.70703 35.0002L12.4154 23.2918L3.33203 15.4168L15.332 14.3752L19.9987 3.3335L24.6654 14.3752L36.6654 15.4168L27.582 23.2918L30.2904 35.0002L19.9987 28.7918L9.70703 35.0002Z"
              fill="#FDB72A" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
            <path
              d="M9.70703 35.0002L12.4154 23.2918L3.33203 15.4168L15.332 14.3752L19.9987 3.3335L24.6654 14.3752L36.6654 15.4168L27.582 23.2918L30.2904 35.0002L19.9987 28.7918L9.70703 35.0002Z"
              fill="#FDB72A" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
            <path
              d="M9.70703 35.0002L12.4154 23.2918L3.33203 15.4168L15.332 14.3752L19.9987 3.3335L24.6654 14.3752L36.6654 15.4168L27.582 23.2918L30.2904 35.0002L19.9987 28.7918L9.70703 35.0002Z"
              fill="#FDB72A" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
            <path
              d="M9.70703 35.0002L12.4154 23.2918L3.33203 15.4168L15.332 14.3752L19.9987 3.3335L24.6654 14.3752L36.6654 15.4168L27.582 23.2918L30.2904 35.0002L19.9987 28.7918L9.70703 35.0002Z"
              fill="#FDB72A" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
            <path
              d="M9.70703 35.0002L12.4154 23.2918L3.33203 15.4168L15.332 14.3752L19.9987 3.3335L24.6654 14.3752L36.6654 15.4168L27.582 23.2918L30.2904 35.0002L19.9987 28.7918L9.70703 35.0002Z"
              fill="#FDB72A" />
          </svg>
        </div>
        <p>
          "As someone who grew up eating bread and small bowls, I've always made do with plates that didn't quite work. This feels like coming home!"
        </p>
        <div class="user">
          <img src="{{ 'testimonial-user.svg' | asset_url }}" alt="">
          <div>
            <span> JYOTI EDWARDS </span>
            <span>
              From <br>
              Dubai, UAE
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slider-nav">
    <button class="slider-left">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path
          d="M3.21938 12.5306L9.96937 19.2806C10.1101 19.4213 10.301 19.5003 10.5 19.5003C10.699 19.5003 10.8899 19.4213 11.0306 19.2806C11.1714 19.1398 11.2504 18.949 11.2504 18.7499C11.2504 18.5509 11.1714 18.36 11.0306 18.2193L5.56031 12.7499H20.25C20.4489 12.7499 20.6397 12.6709 20.7803 12.5303C20.921 12.3896 21 12.1988 21 11.9999C21 11.801 20.921 11.6103 20.7803 11.4696C20.6397 11.3289 20.4489 11.2499 20.25 11.2499H5.56031L11.0306 5.78055C11.1714 5.63982 11.2504 5.44895 11.2504 5.24993C11.2504 5.05091 11.1714 4.86003 11.0306 4.7193C10.8899 4.57857 10.699 4.49951 10.5 4.49951C10.301 4.49951 10.1101 4.57857 9.96937 4.7193L3.21938 11.4693C3.14964 11.539 3.09432 11.6217 3.05658 11.7127C3.01884 11.8038 2.99941 11.9014 2.99941 11.9999C2.99941 12.0985 3.01884 12.1961 3.05658 12.2871C3.09432 12.3782 3.14964 12.4609 3.21938 12.5306Z"
          fill="black" />
      </svg>
    </button>
    <button class="slider-right">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path
          d="M20.7806 12.5306L14.0306 19.2806C13.8899 19.4213 13.699 19.5003 13.5 19.5003C13.301 19.5003 13.1101 19.4213 12.9694 19.2806C12.8286 19.1398 12.7496 18.949 12.7496 18.7499C12.7496 18.5509 12.8286 18.36 12.9694 18.2193L18.4397 12.7499H3.75C3.55109 12.7499 3.36032 12.6709 3.21967 12.5303C3.07902 12.3896 3 12.1988 3 11.9999C3 11.801 3.07902 11.6103 3.21967 11.4696C3.36032 11.3289 3.55109 11.2499 3.75 11.2499H18.4397L12.9694 5.78055C12.8286 5.63982 12.7496 5.44895 12.7496 5.24993C12.7496 5.05091 12.8286 4.86003 12.9694 4.7193C13.1101 4.57857 13.301 4.49951 13.5 4.49951C13.699 4.49951 13.8899 4.57857 14.0306 4.7193L20.7806 11.4693C20.8504 11.539 20.9057 11.6217 20.9434 11.7127C20.9812 11.8038 21.0006 11.9014 21.0006 11.9999C21.0006 12.0985 20.9812 12.1961 20.9434 12.2871C20.9057 12.3782 20.8504 12.4609 20.7806 12.5306Z"
          fill="black" />
      </svg>
    </button>
  </div>
  #section-{{ section.id }} 
</div>


<script>
  $(document).ready(function(){
    $('#section-{{ section.id }} .slider').slick({
      centerMode: true,
      variableWidth: true,
      arrows: false,
      dots: false,
      infinite: true
    });

    $('#section-{{ section.id }} .slider-left').on('click', function () {
      $('#section-{{ section.id }} .slider').slick('slickPrev');
    });

    $('#section-{{ section.id }} .slider-right').on('click', function () {
      $('#section-{{ section.id }} .slider').slick('slickNext');
    });
  });
</script>

{% schema %}
{
  "name": "Testimonial",
  "tag": "section",
  "class": "testimonial",
  "settings": [
  ],
  "presets": [
    {
      "name": "Testimonial Section",
    }
  ]
}
{% endschema %}
