{% style %}
  footer {
    background: url("{{ 'footer-bg.png' | asset_url }}") #132142;
    background-repeat: no-repeat;
    background-size: cover;
  }
{% endstyle %}

  <div class="container">
    <div class="top">
      <div class="form">
        <p>Join our table to receive updates, campaign stories and more</p>
        <div class="newsletter">
          {% form 'customer', id: 'NewsletterForm', class: 'newsletter' %}
            
            <div class="info">
              {%- if form.posted_successfully? -%} 
                <div role="status">
                  Thank you for subscribing!
                </div>
              {%- elsif form.errors -%}
                <div role="alert">
                  {% for field in form.errors %}
                    {%- if field == 'email' -%}
                      Invalid email address. Please check and try again.
                    {%- else -%}
                      {{ form.errors.messages[field] }}
                    {%- endif -%}
                  {% endfor %}
                </div>
              {% endif %}
            </div>

            <input type="hidden" name="contact[tags]" value="newsletter" {%- if form.posted_successfully? -%} disabled {% endif %}>

            <input
              id="NewsletterEmail"
              type="email"
              name="contact[email]"
              placeholder="Enter Your Email"
              required
              aria-required="true"
              autocomplete="email"
            />
            
            {%- if form.posted_successfully? -%} 
                <div class="checklist">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M21.531 7.28068L9.53104 19.2807C9.46139 19.3504 9.37867 19.4057 9.28762 19.4435C9.19657 19.4812 9.09898 19.5006 9.00042 19.5006C8.90186 19.5006 8.80426 19.4812 8.71321 19.4435C8.62216 19.4057 8.53945 19.3504 8.46979 19.2807L3.21979 14.0307C3.07906 13.8899 3 13.6991 3 13.5001C3 13.301 3.07906 13.1102 3.21979 12.9694C3.36052 12.8287 3.55139 12.7496 3.75042 12.7496C3.94944 12.7496 4.14031 12.8287 4.28104 12.9694L9.00042 17.6897L20.4698 6.21943C20.6105 6.07869 20.8014 5.99963 21.0004 5.99963C21.1994 5.99963 21.3903 6.07869 21.531 6.21943C21.6718 6.36016 21.7508 6.55103 21.7508 6.75005C21.7508 6.94907 21.6718 7.13995 21.531 7.28068Z" fill="#332717"/>
                  </svg>
                </div>
              {% else %}
              <button class="newsletter__button" {%- if form.errors? -%} disabled {% endif %} type="submit">
                SEND
              </button>
            {% endif %}
          {% endform %}

        </div>
      </div>
      <div class="menu-group">
        {% comment %} <div class="menu">
          <div class="menu-label">[Products]</div>
          {% for link in section.settings.product_menu.links %}
            <a href="{{ link.url }}">{{ link.title }}</a>
          {% endfor %}
        </div> {% endcomment %}
        {% comment %} <div class="menu">
          <div class="menu-label">[Company]</div>
          {% for link in section.settings.company_menu.links %}
            <a href="{{ link.url }}">{{ link.title }}</a>
          {% endfor %}
        </div> {% endcomment %}
        <div class="menu">
          <div class="menu-label">[Social]</div>
          {% for link in section.settings.social_menu.links %}
            <a href="{{ link.url }}">{{ link.title }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="brand">Feenie's table</div>
    <div class="copy">
      <div> {{ section.settings.copyright }} </div>
      <div>
        <a href=""> Terms & Conditions </a>
        <a href=""> Privacy Policy </a>
      </div>
    </div>
  </div>

<script>
  $(document).ready(function(){
    $('footer .copy span').text(new Date().getFullYear())
    if( window.location.search.includes('customer_posted=true') ){
      {% comment %} setTimeout(()=>{
        $('footer .toast').addClass('remove')
      },2000) {% endcomment %}
    }
  });
</script>


{% schema %}
{
  "name": "Footer",
  "tag": "footer",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Copyright text"
    },
    {
      "type": "text",
      "id": "copyright",
      "label": "Footer copyright text",
      "default": "© <span>2025</span> Feenie's Table. | All Rights Reserved",
      "info": "Use <span/> to show year automaticly"
    },
    {
      "type": "header",
      "content": "Footer menu"
    },
    {
      "type": "link_list",
      "id": "product_menu",
      "label": "Product menu"
    },
    {
      "type": "link_list",
      "id": "company_menu",
      "label": "Company menu"
    },
    {
      "type": "link_list",
      "id": "social_menu",
      "label": "Social menu"
    },
  ],
}
{% endschema %}
