{%style %}
  /* .products .content {
    grid-template-columns: repeat({{ section.settings.products | size }}, 1fr);
  } */
{% endstyle %}

<div class="container">
  <div class="head">
    <div class="left">
      <span class="label"> {{ section.settings.label }} </span>
      <h2>
        {{ section.settings.title }}
      </h2>
    </div>
    {% comment %} <a href="{{ section.settings.cta_url }}" class="btn --brown">
      <span> {{ section.settings.cta_title }} </span>
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M20.7806 12.5307L14.0306 19.2807C13.8899 19.4214 13.699 19.5005 13.5 19.5005C13.301 19.5005 13.1101 19.4214 12.9694 19.2807C12.8286 19.1399 12.7496 18.9491 12.7496 18.7501C12.7496 18.551 12.8286 18.3602 12.9694 18.2194L18.4397 12.7501H3.75C3.55109 12.7501 3.36032 12.671 3.21967 12.5304C3.07902 12.3897 3 12.199 3 12.0001C3 11.8011 3.07902 11.6104 3.21967 11.4697C3.36032 11.3291 3.55109 11.2501 3.75 11.2501H18.4397L12.9694 5.78068C12.8286 5.63995 12.7496 5.44907 12.7496 5.25005C12.7496 5.05103 12.8286 4.86016 12.9694 4.71943C13.1101 4.5787 13.301 4.49963 13.5 4.49963C13.699 4.49963 13.8899 4.5787 14.0306 4.71943L20.7806 11.4694C20.8504 11.5391 20.9057 11.6218 20.9434 11.7128C20.9812 11.8039 21.0006 11.9015 21.0006 12.0001C21.0006 12.0986 20.9812 12.1962 20.9434 12.2873C20.9057 12.3783 20.8504 12.461 20.7806 12.5307Z"
          fill="currentColor" />
      </svg>
    </a> {% endcomment %}
  </div>
  {% assign my_array = section.settings.products %}
  {{ my_array | json | escape }}
  <div class="content" style="
      grid-template-columns: repeat({{ section.settings.products | size }}, 1fr);
    ">
    {% for product in section.settings.products %}
      <div class="card">
        <img src="{{ product.featured_image.src | img_url: 'original' }}" alt="">
        <div class="info">
          <h3>{{ product.title }}</h3>
          <p>{{ product.price | money }}</p>
        </div>
        {% if product.available %}
          <a href="{{ product.variants.first.url }}" class="btn --brown"> 
            ADD CART 
          </a>
        {% else %} 
            <div class="btn --brown --disable"> 
              OUT OF STOCK
            </div>
          {% endif %}
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Product",
  "tag": "section",
  "class": "products",
  "settings": [
    {
      "type": "header",
      "content": "Label"
    },
    {
      "type": "text",
      "id": "label",
      "label": "Section label",
      "default": "INTRODUCING Our PRODUCTS"
    },
    {
      "type": "header",
      "content": "Title"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Section title",
      "default": "Launching on kickstarter in — <span> September 2025 </span>",
      "info": "Wrap alternate font with <span>"
    },
    {
      "type": "header",
      "content": "CTA Button"
    },
    {
      "type": "text",
      "id": "cta_title",
      "label": "Section CTA title",
      "default": "VIEW ALL PRODUCTS"
    },
    {
      "type": "url",
      "id": "cta_url",
      "label": "Section CTA URL",
    },
    {
      "type": "header",
      "content": "Products"
    },
    {
      "type": "product_list",
      "id" : "products",
      "label": "Section Product",
      "limit": 4
    }
  ],
  "presets": [
    {
      "name": "Product Section",
    }
  ]
}
{% endschema %}
