{% style %}
  footer {
    background: url("{{ 'footer-bg.png' | asset_url }}") #132142;
    background-repeat: no-repeat;
    background-size: cover;
  }
{% endstyle %}

  <div id="contact" class="container">
    <div class="left">
      <div class="brand">Feenie's table</div>
      <div class="menu">
          {% for link in section.settings.footer_menu.links %}
            <a href="{{ link.url }}">{{ link.title }}</a>
            <div class="dot"></div>
          {% endfor %}
      </div>

      <div class="label">
        Reach us at
      </div>
      <div class="contact-group">
        <a>feenies@feeniestable.com </a> |
        <a>feenies@feeniestable.com </a>
      </div>

      <div class="copyright"> {{ section.settings.copyright }} </div>
    </div>

    <div class="right">
      <div class="form">
        <p>
          Sign up for updates straight to your table
        </p>
        <div class="newsletter">
          {% form 'customer', id: 'NewsletterForm' %}
            <div class="info" {%- if form.errors -%} disabled {% endif %}>
              {%- if form.posted_successfully? -%} 
                <div role="status">
                  Thank you for subscribing!
                </div>
              {%- elsif form.errors -%}
                  {% for field in form.errors %}
                    {%- if field == 'email' -%}
                      Invalid email address. Please check and try again.
                    {%- else -%}
                      {{ form.errors.messages[field] }}
                    {%- endif -%}
                  {% endfor %}
              {% endif %}
            </div>

            <input type="hidden" name="contact[tags]" value="newsletter" {%- if form.posted_successfully? -%} disabled {% endif %}>

            <input
              id="NewsletterEmail"
              type="email"
              name="contact[email]"
              placeholder="Enter Your Email"
              required
              aria-required="true"
              autocomplete="email"
            />
            
            {%- if form.posted_successfully? -%} 
                <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="56" height="56" rx="28" fill="white"/>
                  <path d="M37.531 23.2807L25.531 35.2807C25.4614 35.3504 25.3787 35.4057 25.2876 35.4435C25.1966 35.4812 25.099 35.5006 25.0004 35.5006C24.9019 35.5006 24.8043 35.4812 24.7132 35.4435C24.6222 35.4057 24.5394 35.3504 24.4698 35.2807L19.2198 30.0307C19.0791 29.8899 19 29.6991 19 29.5001C19 29.301 19.0791 29.1102 19.2198 28.9694C19.3605 28.8287 19.5514 28.7496 19.7504 28.7496C19.9494 28.7496 20.1403 28.8287 20.281 28.9694L25.0004 33.6897L36.4698 22.2194C36.6105 22.0787 36.8014 21.9996 37.0004 21.9996C37.1994 21.9996 37.3903 22.0787 37.531 22.2194C37.6718 22.3602 37.7508 22.551 37.7508 22.7501C37.7508 22.9491 37.6718 23.1399 37.531 23.2807Z" fill="#332717"/>
                </svg>
              {% else %}
              <button class="newsletter__button" type="submit">
                SEND
              </button>
            {% endif %}
          {% endform %}
        </div>
        <div class="social-media">
          <div class="social-media_title">Follow us on</div>

          <div class="social-media_items">
            {% for block in section.blocks %}
              <a href="{{ block.settings.url }}" target="_blank" class="social-media_item">
                {% if block.settings.icon != blank %}
                  <img src="{{ block.settings.icon | img_url: '64x64' }}" alt="{{ block.settings.platform | escape }}">
                {% endif %}
              </a>
            {% endfor %}
          </div>

      </div>
      </div>
    </div>
  </div>

  {% comment %} <div id="contact" class="container">
    <div class="top">
      <div class="form">
        <p>Join our table to receive updates, campaign stories and more</p>
        <div class="newsletter">
          {% form 'customer', id: 'NewsletterForm' %}
            
            <div class="info" {%- if form.errors -%} disabled {% endif %}>
              {%- if form.posted_successfully? -%} 
                <div role="status">
                  Thank you for subscribing!
                </div>
              {%- elsif form.errors -%}
                  {% for field in form.errors %}
                    {%- if field == 'email' -%}
                      Invalid email address. Please check and try again.
                    {%- else -%}
                      {{ form.errors.messages[field] }}
                    {%- endif -%}
                  {% endfor %}
              {% endif %}
            </div>

            <input type="hidden" name="contact[tags]" value="newsletter" {%- if form.posted_successfully? -%} disabled {% endif %}>

            <input
              id="NewsletterEmail"
              type="email"
              name="contact[email]"
              placeholder="Enter Your Email"
              required
              aria-required="true"
              autocomplete="email"
            />
            
            {%- if form.posted_successfully? -%} 
                <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="56" height="56" rx="28" fill="white"/>
                  <path d="M37.531 23.2807L25.531 35.2807C25.4614 35.3504 25.3787 35.4057 25.2876 35.4435C25.1966 35.4812 25.099 35.5006 25.0004 35.5006C24.9019 35.5006 24.8043 35.4812 24.7132 35.4435C24.6222 35.4057 24.5394 35.3504 24.4698 35.2807L19.2198 30.0307C19.0791 29.8899 19 29.6991 19 29.5001C19 29.301 19.0791 29.1102 19.2198 28.9694C19.3605 28.8287 19.5514 28.7496 19.7504 28.7496C19.9494 28.7496 20.1403 28.8287 20.281 28.9694L25.0004 33.6897L36.4698 22.2194C36.6105 22.0787 36.8014 21.9996 37.0004 21.9996C37.1994 21.9996 37.3903 22.0787 37.531 22.2194C37.6718 22.3602 37.7508 22.551 37.7508 22.7501C37.7508 22.9491 37.6718 23.1399 37.531 23.2807Z" fill="#332717"/>
                </svg>
              {% else %}
              <button class="newsletter__button" type="submit">
                SEND
              </button>
            {% endif %}
          {% endform %}

        </div>
      </div>
      <div class="menu-group">
        {% comment %} <div class="menu">
          <div class="menu-label">[Products]</div>
          {% for link in section.settings.product_menu.links %}
            <a href="{{ link.url }}">{{ link.title }}</a>
          {% endfor %}
        </div> {% endcomment %}
        {% comment %} <div class="menu">
          <div class="menu-label">[Company]</div>
          {% for link in section.settings.company_menu.links %}
            <a href="{{ link.url }}">{{ link.title }}</a>
          {% endfor %}
        </div> {% endcomment %}
        <div class="menu">
          <div class="menu-label">[Social]</div>
          {% for link in section.settings.social_menu.links %}
            <a href="{{ link.url }}">{{ link.title }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="brand">Feenie's table</div>
    <div class="copy">
      <div> {{ section.settings.copyright }} </div>
      <div>
        <a href=""> Terms & Conditions </a>
        <a href=""> Privacy Policy </a>
      </div>
    </div>
  </div> {% endcomment %}

<script>
  $(document).ready(function(){
    $('footer .copy span').text(new Date().getFullYear())
    $('#NewsletterEmail').on('focus', ()=>{
      $('.newsletter').addClass('focus')
    });
    $('#NewsletterEmail').on('focusout', ()=>{
      $('.newsletter').removeClass('focus')
    });
    if($('footer .info').attr('disabled')){
      $('.newsletter').addClass('error')
    }
  });
</script>


{% schema %}
{
  "name": "Footer",
  "tag": "footer",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Copyright text"
    },
    {
      "type": "text",
      "id": "copyright",
      "label": "Footer copyright text",
      "default": "© <span>2025</span> Feenie's Table. | All Rights Reserved",
      "info": "Use <span/> to show year automaticly"
    },
    {
      "type": "header",
      "content": "Footer menu"
    },
    {
      "type": "link_list",
      "id": "footer_menu",
      "label": "Footer menu navigation"
    },
    {
      "type": "link_list",
      "id": "product_menu",
      "label": "Product menu"
    },
    {
      "type": "link_list",
      "id": "company_menu",
      "label": "Company menu"
    },
    {
      "type": "link_list",
      "id": "social_menu",
      "label": "Social menu"
    },
  ],
  "blocks": [
    {
      "type": "social_link",
      "name": "Social Link",
      "settings": [
        {
          "type": "text",
          "id": "platform",
          "label": "Platform name"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link URL"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Social Media",
      "category": "Custom"
    }
  ]
}
{% endschema %}
