{% style %}
  #shopify-section-{{section.id}}{
    background: url({{ 'representation-pattern.png' | asset_url }}) no-repeat;
    background-position: center 32%;
    background-size: 1717px auto;
  }
  #shopify-section-{{section.id}} .slick-slide .slide{
    padding-inline: 120px;
    padding-top: 133px;
    transition: all 200ms linear;
  }
  @media only screen and (max-width: 990px) {
    #shopify-section-{{section.id}} .slick-slide .slide{
      padding-inline: 40px;
      padding-top: 0px;
    }
  }
  #shopify-section-{{section.id}} .slick-active .slide{
    padding-inline: 0px;
    padding-top: 0px;
  }
  @media only screen and (max-width: 990px) {
    #shopify-section-{{section.id}} .slick-current .slide{
      margin-inline: auto;
    }
  }
  #shopify-section-{{section.id}} .slick-current .slide .content{
    height: 700px;
  }
  @media only screen and (max-width: 990px) {
    #shopify-section-{{section.id}} .slick-current .slide .content{
      height: 400px;
    }
  }
  #shopify-section-{{section.id}} .slick-current .slide p{
    width: 600px;
  }
  @media only screen and (max-width: 990px) {
    #shopify-section-{{section.id}} .slick-current .slide p{
      width: 100%;
    }
  }
  #shopify-section-{{section.id}} .slick-slide .top, 
  #shopify-section-{{section.id}} .slick-slide h3,
  #shopify-section-{{section.id}} .slick-slide .play-control,
  #shopify-section-{{section.id}} .slick-slide p{
    opacity: 0;
    transition-delay: 200ms;
    transition: all 400ms ease-in-out;
  }
  #shopify-section-{{section.id}} .slick-current .top, 
  #shopify-section-{{section.id}} .slick-current h3,
  #shopify-section-{{section.id}} .slick-current .play-control,
  #shopify-section-{{section.id}} .slick-current p{
    opacity: 1;
    transition-delay: all 0ms;
  }
  #shopify-section-{{section.id}} .slick-current h3{
    transform: scale(1);
    transition-delay: 0ms;
  }
  #shopify-section-{{section.id}} .slide:hover .content{
    background-size: 120% auto;
  }

  #shopify-section-{{section.id}} .slick-current .slide.active h3{
    opacity: 0;
    transform: scale(0.8);
    transition-delay: 0ms;
  }
{% endstyle %}

<div class="container">
  <span class="label">{{ section.settings.label }}</span>
  <h2>{{ section.settings.title }}</h2>
</div>
<div class="container">
  <div class="slider-nav --right">
    <button class="slider-right">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path
          d="M20.7806 12.5306L14.0306 19.2806C13.8899 19.4213 13.699 19.5003 13.5 19.5003C13.301 19.5003 13.1101 19.4213 12.9694 19.2806C12.8286 19.1398 12.7496 18.949 12.7496 18.7499C12.7496 18.5509 12.8286 18.36 12.9694 18.2193L18.4397 12.7499H3.75C3.55109 12.7499 3.36032 12.6709 3.21967 12.5303C3.07902 12.3896 3 12.1988 3 11.9999C3 11.801 3.07902 11.6103 3.21967 11.4696C3.36032 11.3289 3.55109 11.2499 3.75 11.2499H18.4397L12.9694 5.78055C12.8286 5.63982 12.7496 5.44895 12.7496 5.24993C12.7496 5.05091 12.8286 4.86003 12.9694 4.7193C13.1101 4.57857 13.301 4.49951 13.5 4.49951C13.699 4.49951 13.8899 4.57857 14.0306 4.7193L20.7806 11.4693C20.8504 11.539 20.9057 11.6217 20.9434 11.7127C20.9812 11.8038 21.0006 11.9014 21.0006 11.9999C21.0006 12.0985 20.9812 12.1961 20.9434 12.2871C20.9057 12.3782 20.8504 12.4609 20.7806 12.5306Z"
          fill="black" />
      </svg>
    </button>
  </div>
</div>
<div class="container --full">
  <div class="slider">
    {% for item in section.settings.metafields %}
    <div>
      <div class="slide">
        <h3>
          {{ item.label }}
        </h3>
        <div class="content">
          <div class="play-control">
            <svg id="play" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M21.7875 10.7334L8.28 2.47029C8.05227 2.33084 7.79144 2.25471 7.52445 2.24977C7.25746 2.24482 6.99399 2.31124 6.76125 2.44217C6.53073 2.57106 6.3387 2.75902 6.2049 2.98673C6.07111 3.21445 6.00039 3.47368 6 3.73779V20.2622C6.00174 20.6583 6.16072 21.0376 6.442 21.3166C6.72328 21.5956 7.10383 21.7515 7.5 21.75C7.77652 21.7499 8.04767 21.6736 8.28375 21.5297L21.7875 13.2665C22.0046 13.1342 22.1839 12.9483 22.3084 12.7267C22.4329 12.5051 22.4983 12.2551 22.4983 12.0009C22.4983 11.7467 22.4329 11.4968 22.3084 11.2751C22.1839 11.0535 22.0046 10.8676 21.7875 10.7353V10.7334ZM7.5 20.2444V3.74998L20.9841 12L7.5 20.2444Z" fill="#332717"/>
            </svg>
            <svg id="pause" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 4C8.24493 4.00003 8.48134 4.08996 8.66437 4.25272C8.84741 4.41547 8.96434 4.63975 8.993 4.883L9 5V19C8.99972 19.2549 8.90212 19.5 8.72715 19.6854C8.55218 19.8707 8.31305 19.9822 8.05861 19.9972C7.80416 20.0121 7.55362 19.9293 7.35817 19.7657C7.16271 19.6021 7.0371 19.3701 7.007 19.117L7 19V5C7 4.73478 7.10536 4.48043 7.29289 4.29289C7.48043 4.10536 7.73478 4 8 4ZM16 4C16.2449 4.00003 16.4813 4.08996 16.6644 4.25272C16.8474 4.41547 16.9643 4.63975 16.993 4.883L17 5V19C16.9997 19.2549 16.9021 19.5 16.7272 19.6854C16.5522 19.8707 16.313 19.9822 16.0586 19.9972C15.8042 20.0121 15.5536 19.9293 15.3582 19.7657C15.1627 19.6021 15.0371 19.3701 15.007 19.117L15 19V5C15 4.73478 15.1054 4.48043 15.2929 4.29289C15.4804 4.10536 15.7348 4 16 4Z" fill="#332717"/>
            </svg>
          </div>

          <video playinline >
            <source src="{{ item.thumbnail | file_url }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <div class="top">
            <span>
              {{ item.name }}
            </span>
            <span>
              0{{ forloop.index }}
            </span>
          </div>
          <h3>
            {{ item.label }}
          </h3>
          {% comment %} <a href="" class="btn">
            <span>
              VIEW MORE
            </span>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M20.7806 12.5307L14.0306 19.2807C13.8899 19.4214 13.699 19.5005 13.5 19.5005C13.301 19.5005 13.1101 19.4214 12.9694 19.2807C12.8286 19.1399 12.7496 18.9491 12.7496 18.7501C12.7496 18.551 12.8286 18.3602 12.9694 18.2194L18.4397 12.7501H3.75C3.55109 12.7501 3.36032 12.671 3.21967 12.5304C3.07902 12.3897 3 12.199 3 12.0001C3 11.8011 3.07902 11.6104 3.21967 11.4697C3.36032 11.3291 3.55109 11.2501 3.75 11.2501H18.4397L12.9694 5.78068C12.8286 5.63995 12.7496 5.44907 12.7496 5.25005C12.7496 5.05103 12.8286 4.86016 12.9694 4.71943C13.1101 4.5787 13.301 4.49963 13.5 4.49963C13.699 4.49963 13.8899 4.5787 14.0306 4.71943L20.7806 11.4694C20.8504 11.5391 20.9057 11.6218 20.9434 11.7128C20.9812 11.8039 21.0006 11.9015 21.0006 12.0001C21.0006 12.0986 20.9812 12.1962 20.9434 12.2873C20.9057 12.3783 20.8504 12.461 20.7806 12.5307Z"
                fill="currentColor" />
            </svg>
          </a> {% endcomment %}
        </div>
        <p>
          {{ item.description }}
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="container">
  <div class="slider-nav">
    <button class="slider-left">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path
          d="M3.21938 12.5306L9.96937 19.2806C10.1101 19.4213 10.301 19.5003 10.5 19.5003C10.699 19.5003 10.8899 19.4213 11.0306 19.2806C11.1714 19.1398 11.2504 18.949 11.2504 18.7499C11.2504 18.5509 11.1714 18.36 11.0306 18.2193L5.56031 12.7499H20.25C20.4489 12.7499 20.6397 12.6709 20.7803 12.5303C20.921 12.3896 21 12.1988 21 11.9999C21 11.801 20.921 11.6103 20.7803 11.4696C20.6397 11.3289 20.4489 11.2499 20.25 11.2499H5.56031L11.0306 5.78055C11.1714 5.63982 11.2504 5.44895 11.2504 5.24993C11.2504 5.05091 11.1714 4.86003 11.0306 4.7193C10.8899 4.57857 10.699 4.49951 10.5 4.49951C10.301 4.49951 10.1101 4.57857 9.96937 4.7193L3.21938 11.4693C3.14964 11.539 3.09432 11.6217 3.05658 11.7127C3.01884 11.8038 2.99941 11.9014 2.99941 11.9999C2.99941 12.0985 3.01884 12.1961 3.05658 12.2871C3.09432 12.3782 3.14964 12.4609 3.21938 12.5306Z"
          fill="black" />
      </svg>
    </button>
    <button class="slider-right --mobile">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path
          d="M20.7806 12.5306L14.0306 19.2806C13.8899 19.4213 13.699 19.5003 13.5 19.5003C13.301 19.5003 13.1101 19.4213 12.9694 19.2806C12.8286 19.1398 12.7496 18.949 12.7496 18.7499C12.7496 18.5509 12.8286 18.36 12.9694 18.2193L18.4397 12.7499H3.75C3.55109 12.7499 3.36032 12.6709 3.21967 12.5303C3.07902 12.3896 3 12.1988 3 11.9999C3 11.801 3.07902 11.6103 3.21967 11.4696C3.36032 11.3289 3.55109 11.2499 3.75 11.2499H18.4397L12.9694 5.78055C12.8286 5.63982 12.7496 5.44895 12.7496 5.24993C12.7496 5.05091 12.8286 4.86003 12.9694 4.7193C13.1101 4.57857 13.301 4.49951 13.5 4.49951C13.699 4.49951 13.8899 4.57857 14.0306 4.7193L20.7806 11.4693C20.8504 11.539 20.9057 11.6217 20.9434 11.7127C20.9812 11.8038 21.0006 11.9014 21.0006 11.9999C21.0006 12.0985 20.9812 12.1961 20.9434 12.2871C20.9057 12.3782 20.8504 12.4609 20.7806 12.5306Z"
          fill="black" />
      </svg>
    </button>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('#shopify-section-{{section.id}} .slider').on('init', function(slick){
      $('#shopify-section-{{section.id}} .container.--full').css('height', $('#shopify-section-{{section.id}} .slider').height()+'px')
      document.querySelectorAll('#shopify-section-{{section.id}} .slide .play-control').forEach((v,i)=>{
          v.addEventListener('click',(elem)=>{
            let video = v.nextElementSibling;
            let parent = v.parentElement.parentElement;
            if(video.paused){
              video.play();
            }else{
              video.pause();
            }

            if(parent.classList.contains('active')){
              parent.classList.remove('active');
            }else{
              parent.classList.add('active');
            }
          })
      })
    });
    $('#shopify-section-{{section.id}} .slider').on('afterChange', function(slick, currentSlide){
      document.querySelectorAll('#shopify-section-{{section.id}} .slide .play-control').forEach((v,i)=>{
        v.nextElementSibling.pause();
        v.parentElement.parentElement.classList.remove('active');
      })
    });

    $('#shopify-section-{{section.id}} .slider').slick({
      centerMode: true,
      variableWidth: true,
      arrows: false,
      dots: false,
      infinite: false,
      adaptiveHeight: false,
      responsive: [
        {
          breakpoint: 990,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            centerMode: false,
            variableWidth: false,
          },
        },
      ]
    });

    $('#shopify-section-{{section.id}} .slider-left').on('click', function () {
      $('#shopify-section-{{section.id}} .slider').slick('slickPrev');
    });

    $('#shopify-section-{{section.id}} .slider-right').on('click', function () {
      $('#shopify-section-{{section.id}} .slider').slick('slickNext');
    });
  });
</script>

{% schema %}
{
  "name": "Representation",
  "tag": "section",
  "class": "representation",
  "settings": [
    {
      "type": "header",
      "content": "Label"
    },
    {
      "type": "text",
      "id": "label",
      "label": "Section label",
      "default": "DISH and DIALOGUE"
    },
    {
      "type": "header",
      "content": "Title"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Section title",
      "default": "Representation served —",
      "info": "Wrap alternate font with <span>"
    },
    {
      "type": "header",
      "content": "Representation"
    },
    {
      "type": "metaobject_list",
      "metaobject_type": "representations",
      "id": "metafields",
      "limit": 5,
      "label": "Section representation",
    },
  ],
  "presets": [
    {
      "name": "Representation Section",
    }
  ]
}
{% endschema %}
