{% style %}
  .about .container .content {
    background: url({{ 'about-pattern.png' | asset_url }}) no-repeat;
    background-position: 40% 21%;
    background-size: 1216px;
  }
{% endstyle %}


<div class="container --wide">
  <img src="{{ 'about-cover.png' | asset_url }}" alt="">
  <div class="content">
    <span class="label">{{ section.settings.label }}</span>
    <h2>
      {{ section.settings.title }}
    </h2>
    <div class="desc">
      {{ section.settings.desc | html }}
    </div>
    {% comment %} <p>
      Feenie's Table is where design, culture, and story meet. What began with one plate — made to honour the way we really eat — is now a movement celebrating meals, rituals, and the people behind them. We design for every eating style, every table, every culture. For bread that stays warm, for sauces with their own space, for those who eat differently.
    </p>
    <p>
      Every piece is functional, beautiful, and made to reclaim the place we've always deserved. Because this isn't just about tableware — it's about everyone getting a seat at the table. 
    </p> {% endcomment %}
  </div>
</div>

{% schema %}
{
  "name": "About",
  "tag": "section",
  "class": "about",
  "settings": [
    {
      "type": "header",
      "content": "Label"
    },
    {
      "type": "text",
      "id": "label",
      "label": "Section Label",
      "default": "ABOUT US"
    },
    {
      "type": "header",
      "content": "Title"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Section Title",
      "default": "The story behind the plate — <span> About Us </span>",
      "info": "Wrap alternate font with <span>"
    },
    {
      "type": "header",
      "content": "Description"
    },
    {
      "type": "richtext",
      "id": "desc",
      "label": "Section description"
    }
  ],
  "presets": [
    {
      "name": "About Section",
    }
  ]
}
{% endschema %}
