<section class="running">
  <div class="container --full">
    <img src="{{ 'running-logo.svg' | asset_url }}" height="80" alt="">
    <img src="{{ 'running-logo-2.svg' | asset_url }}" height="80" alt="">
    <img src="{{ 'running-logo.svg' | asset_url }}" height="80" alt="">
    <img src="{{ 'running-logo-2.svg' | asset_url }}" height="80" alt="">
    <img src="{{ 'running-logo.svg' | asset_url }}" height="80" alt="">
    <img src="{{ 'running-logo-2.svg' | asset_url }}" height="80" alt="">
  </div>
</section>
