{% style %}
  footer {
    background: url("{{ 'footer-bg.png' | asset_url }}") #132142;
  }
{% endstyle %}

  <div class="container">
    <div class="top">
      <div class="form">
        <p>Join our table to receive updates, campaign stories and more</p>
        <form action=""></form>
      </div>
      <div class="menu-group">
        <div class="menu">
          <div class="menu-label">[Products]</div>
          {% for link in section.settings.product_menu.links %}
            <a href="{{ link.url }}">{{ link.title }}</a>
          {% endfor %}
        </div>
        <div class="menu">
          <div class="menu-label">[Company]</div>
          {% for link in section.settings.company_menu.links %}
            <a href="{{ link.url }}">{{ link.title }}</a>
          {% endfor %}
        </div>
        <div class="menu">
          <div class="menu-label">[Social]</div>
          {% for link in section.settings.social_menu.links %}
            <a href="{{ link.url }}">{{ link.title }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="brand">Feenie's table</div>
    <div class="copy">
      <div> {{ section.settings.copyright }} </div>
      <div>
        <a href=""> Terms & Conditions </a>
        <a href=""> Privacy Policy </a>
      </div>
    </div>
  </div>

{% schema %}
{
  "name": "Footer",
  "tag": "footer",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Copyright text"
    },
    {
      "type": "text",
      "id": "copyright",
      "label": "Footer copyright text",
      "default": "© <span>2025</span> Feenie's Table. | All Rights Reserved",
      "info": "Use <span/> to show year automaticly"
    },
    {
      "type": "header",
      "content": "Footer menu"
    },
    {
      "type": "link_list",
      "id": "product_menu",
      "label": "Product menu"
    },
    {
      "type": "link_list",
      "id": "company_menu",
      "label": "Company menu"
    },
    {
      "type": "link_list",
      "id": "social_menu",
      "label": "Social menu"
    },
  ],
}
{% endschema %}
