
<div class="container --full">
  {% comment %} {% for a in (1..8) %}
    <div class="group">
      <img src="{{ 'running-logo.svg' | asset_url }}" height="80" alt="">
      <img src="{{ 'running-logo-2.svg' | asset_url }}" height="80" alt="">
    </div>
  {% endfor %}
  <div class="group --mobile">
      <img src="{{ 'running-logo.svg' | asset_url }}" height="80" alt="">
      <img src="{{ 'running-logo-2.svg' | asset_url }}" height="80" alt="">
      <img src="{{ 'running-logo.svg' | asset_url }}" height="80" alt="">
    </div> {% endcomment %}
    <div class="slider" style="width: 400px;">
      {% for item in section.settings.metafields %}
        <img src="{{ item.asset.src | img_url }}" height="80" alt="">
      {% endfor %}
    </div>
</div>

<script>
  $(document).ready(function(){
    $('#shopify-section-{{section.id}} .slider').slick({
      centerMode: true,
      variableWidth: true,
      arrows: false,
      dots: false,
      infinite: true,
    });
  });
</script>

{% schema %}
{
  "name": "Running",
  "tag": "section",
  "class": "running",
  "settings": [
    {
      "type": "header",
      "content": "Slider"
    },
    {
      "type": "metaobject_list",
      "metaobject_type": "running_logo",
      "id": "metafields",
      "limit": 5,
      "label": "Section logo",
    }
  ],
  "presets": [
    {
      "name": "Running Section",
    }
  ]
}
{% endschema %}
